body {
    font-family: Arial, sans-serif;
    background-image: url('../static/background.jpg'); /* Set your background image here */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: white; /* Change text color to white for better contrast */
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background for form */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #fff;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    margin-left: 10px; /* Add margin between input and button */
}

button:hover {
    background-color: #4cae4c;
}

#result {
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px; /* Add space above the image */
}
